@font-face {
  font-family: 'DataControl';
  src: url('/res/data-latin.ttf') format('truetype');
}

main {
  z-index: 2;
}

footer {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  font-size: small;
  padding-left: 5px;
  padding-right: 5px;
}

h2,h3 {
  font-family: 'DataControl', Sans-Serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

.frontpage {
  display: flex;
  position: relative;
  box-sizing: content-box;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.frontsymbol {
  margin: auto;
  z-index: 3;
}

svg#SpadesLogo {
  filter: drop-shadow(3px 4px 10px magenta);
}

svg.animated path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
}

.frame {
  position: relative;
  width: 300px;
  height: 400px;
  margin: auto;
  margin-bottom: 40vh;
  padding: 0;
}

.frame:last-of-type {
  margin-bottom: 60vh;
}

.frameback {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.framefront {
  display: flex;
  position: relative;
  height: 100%;
  z-index: 2;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.framefront img {
  margin: 0;
  padding: 0;
}

.invisiblefront {
  display: none;
}

.invisibleatstart {
  display: none;
}

.frameitem {
  padding: 10px;
  min-width: 200px;
}

.frameitem p {
  margin-top: 3px;
  margin-bottom: 3px;
}

.frameback svg {
  width: 100%;
  height: 100%;
}

.frameback svg path {
  fill: #2c3334;
  stroke-width: 3px;
}

@media only screen and (min-width: 800px) {
  .frame {
    width: 650px;
  }
  
  .frameitem {
    max-width: 350px;
  }

  .frameitem p {
    margin-top: 16px;
  }

  .framefront {
    justify-content: space-evenly;
  }
}
